body {
    margin: 0;
    font-family: sans-serif;
}

#cover-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    text-align: center;
    transition: opacity 0.5s ease;
}

#main-content {
    padding: 20px;
}

/* The class to hide elements */
.hidden {
    display: none !important; 
    /* !important ensures JavaScript can control visibility effectively */
}
